<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836020710681-r0656ekkj67gi196vug4vtom4iut8op0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836020710681-r0656ekkj67gi196vug4vtom4iut8op0</string>
	<key>API_KEY</key>
	<string>AIzaSyD9w7pZvl9-GxSn5dMouKaQOjLvVevGkVk</string>
	<key>GCM_SENDER_ID</key>
	<string>836020710681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kceMaps</string>
	<key>PROJECT_ID</key>
	<string>kcemaps</string>
	<key>STORAGE_BUCKET</key>
	<string>kcemaps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836020710681:ios:995b4f611179e14969e988</string>
</dict>
</plist>